.home-container {
  background-color: white;
  background-size: cover;
  background-image: url('https://img.freepik.com/free-photo/happy-family-carrying-furniture-their-new-home_637285-12398.jpg');
  background-position: center;
 align-items: flex-end;
  background-repeat: no-repeat;
  min-height: 100vh; /* ensures full screen height */
  width: 100%;
  display: flex;
}
