.home-container {
  background-image: url('../assets/home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* ensures full screen height */
  width: 100%;
}
